/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #d8d8d8;}

$primary: #5c6bc0;
$primaryLight: #8e99f3;
$primaryDark: #26418f;
$secondary: #fdd835;
$secondaryLight: #ffff6b;
$secondaryDark: #c6a700;
$background: #d8d8d8

